@model IEnumerable<GetAllGamesVM>
@using Microsoft.AspNetCore.Mvc.Localization
@using Umniah_E_Sport.Portal.Models
@inject IViewLocalizer localizer

@{
    var isEn = localizer["Lang"].Value == "en";
}


<div class="row px-2 m-3">
    @foreach (var game in Model)
    {
        <a asp-controller="Tournaments" asp-action="ByGame" asp-route-gameId=@game.Id
       class="col-6 mb-3 d-flex flex-column px-1">
            <div class="tournment-poster w-100">
                <img class="w-150 object-fit-cover" src="~/Path/Games/Images/@game.ImageName" />
            </div>
            <div class="tournment-title h-2 fs-16 color-text-primary mt-1 line-1-2">@(isEn ? game.Title_EN : game.Title_AR)</div>
            <div class="tournment-abrv fs-14 mt-2">@game.ShortCode</div>
        </a>
    }
</div>